body {
	background: linear-gradient(rgba(252,252,252,0.5), rgba(252,252,252,0.5)), url(http://i.imgur.com/wU5yDuj.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: 816px 612px;
	background-color: #fcfcfc;
}

#intro-pic {
	display: block;
	margin: 0 auto;
	width: 640px;
	height: 425px;
}

.photocred {
	text-align: center;
}

/*nav {
	text-align: center;
}
nav ul li {
	font-size: 18px;
	font-family: Arial;
	display:inline;
	padding: 10px;
	margin: 0 auto;
	width: 200px;
	background-color: #ededed;
}

nav ul li a {
	display: inline-block;
	padding: 5px;
}*/

#beg {
	/*border-width: 2px;
	border-style: solid;
	border-color: black;*/
	height: 175px;
	width: 575px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}

#listForm {
	border-width: 4px;
	border-style: solid;
	border-color: #ffff4d;
	height: 340px;
	width: 800px;
	margin: 0 auto;
	position: relative;
}

#countryList {
	float: left;
	height: 275px;
	width: 175px;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #86c5da;
	/*border-width: 2px;
	border-style: solid;
	border-color: #86c5da;*/
	padding-top: 10px;
	margin: 28px 10px 20px 100px;
	text-align: left;
}

#suggestForm{
	float: left;
	/*border-width: 2px;
	border-style: solid;
	border-color: black;*/
	height: 275px;
	width: 450px ;
	margin: 10px 10px 20px auto;
	padding: 10px;
	text-align: left;
}

#activities, #eating {
	float: left;
}

#activities {
	margin: 3px 5px 0 0;
}

#eating {
	margin: -15px 0 0 auto;
}

.pstyle {
	font-size: 18px;
	line-height: 1.5em;
}
.heading {
	font-family: Georgia;
	text-decoration: underline;
	color: #990000;
	text-align: center;
}

#rTravels {
	line-height: 5em;
}

#gasworks {
	display: block;
	margin: 0 auto;
	height: 175px;
	width: 800px;
}

#spotlight {
	display: block;
	margin: 0px auto;
	border-width: 3px;
	border-style: solid;
	border-color: #00008b;
	border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
	height: 180px;
	width: 775px;
	padding: 10px;
	background-color: #fdfde9;
}

h2 {
	clear:both;
}

fieldset{
	border:0;
}

a:link {
	color: 002e63;
	text-decoration: none;
}

a:visited {
	color: #006994;
}

a:hover {
	color: 002e63;
	text-decoration: none;
}

#thanks-body {
	position: absolute;
	text-align: center;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

#thanks-body p {
	font-size: 1.5em;
}

@media screen and (min-width: 1202px) and (max-width: 2000px) {

}

@media screen and (min-width: 998px) and (max-width: 1199px) {
	body{
		background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))url(http://i.imgur.com/wU5yDuj.jpg);
		background-color:#a9a9a9;
		color: #00008b;
	}
	.body-text {
		font-size: 18px;
	}
}

@media screen and (min-width: 619px) and (max-width: 878px) {
	body {
	background: linear-gradient(rgba(252,252,252,0.5), rgba(252,252,252,0.5)), url(http://i.imgur.com/wU5yDuj.jpg);
	background-color: #fcfcfc;
	color: black;
	}
	.body-text {
		font-size: 19px;
	}
}


